<footr>
    <div class="footer ">
        <div class="container">
            <div class="row">
                <div class="logo">
                    <p class="titlelogo2">YumYum</p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                            <div class="address">
                                <h3>Address </h3>
                                <ul class="loca">
                                    <li>
                                        <a href="#"></a>It is a long established fact
                                        <br>that a reader will be
                                    </li>
                                    <li>
                                        <a href="#"></a>(+71 1234567890)
                                    </li>
                                    <li>
                                        <a href="#"></a>demo@gmail.com
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="address">
                                <h3>Social Link</h3>
                                <ul class="Menu_footer">
                                    <li class="active"> <a href="#">Twitter</a> </li>
                                    <li><a href="#">Facebook</a> </li>
                                    <li><a href="#">Instagram</a> </li>
                                    <li><a href="#">Linkdin</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright © 2022 Design by YumYumTeam</p>
            </div>
        </div>
    </div>
</footr>