<header>
    <!-- header inner -->
    <div class="header-top">
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href={% url 'home' %}>
                                        <h4 class="titlelogo">YumYum</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu ">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a href="#slider">Home</a> </li>
                                        <li> <a href="#selector">Ingredient Selector</a> </li>
                                        <li> <a href="#about">About</a> </li>
                                        <li> <a href="#recipes">Recipes</a> </li>
                                        <li> <a href="#contact">Contact Us</a> </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
    <!-- end header -->
</header>